In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mysql.connector
from functools import reduce

### LECTURA DATOS

In [2]:
mysql_config = {
    'host': 'localhost',
    'user': 'root',
    'database': 'cancer_mama'
}

conn_mysql = mysql.connector.connect(**mysql_config)
cursor_mysql = conn_mysql.cursor()

query = "SELECT * FROM tumor;"
df_sql = pd.read_sql_query(query, conn_mysql)

C:\Users\34699\AppData\Local\Temp\ipykernel_19988\276634330.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sql = pd.read_sql_query(query, conn_mysql)

In [28]:
# PARA MAC
# df_sql = pd.read_csv('./Datos/datos_sql.csv')
# df_sql = df_sql.drop('Unnamed: 0',axis=1)
# df_sql

,ehr,n_tumor,t_category,n_category,m_category,t_category_after_neoadj,n_category_after_neoadj,m_category_after_neoadj,stage_diagnosis,stage_after_neo,grade,ductal,lobular,neoadjuvant
0,10011773,1,IS,0,0,NaN,NaN,NaN,0,NaN,1,NaN,NaN,no
1,10020495,1,1,0,0,NaN,NaN,NaN,IA,NaN,2,1.0,NaN,no
2,10020495,2,3,1,0,2,0.0,NaN,IA,NaN,2,1.0,NaN,yes
3,10030299,1,1,0,0,NaN,NaN,NaN,IA,NaN,1,1.0,NaN,no
4,10030824,1,2,1,0,2,2.0,0.0,IIIA,IIIA,3,NaN,1.0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11162,99966287,1,1,1,0,1,0.0,0.0,IB,IIA,3,1.0,NaN,yes
11163,99981192,1,1,0,0,NaN,NaN,NaN,IA,NaN,2,NaN,NaN,no
11164,99988958,1,0,2,0,1,1.0,0.0,IIIA,IIA,1,1.0,NaN,yes
11165,99992350,1,2,0,0,3,2.0,0.0,IIA,IIIA,2,1.0,NaN,yes
11166,99994417,1,0,0,0,1,0.0,0.0,IA,IA,3,NaN,NaN,yes

In [3]:
df_csv1 = pd.read_csv('./Datos/patients_batch1.csv')
df_csv2 = pd.read_csv('./Datos/patients_batch2.csv')
df_excel = pd.read_excel('./Datos/gynecological.xlsx')
df_json = pd.read_json('./Datos/histochemistry.json')

### PREPROCESADO

Para el preprocesado vamos a comenzar uniendo los dataframes de origen csv, ya que comparten las mismas columnas. Pasaremos las fechas al tipo 'DD/MM/YY' y a continuaciÃ³n haremos el merge.

In [14]:
df_csv = pd.merge(df_csv1, df_csv2, on=['ehr','birth_date','diagnosis_date','death_date'], how='outer')
df_csv

            ehr  birth_date diagnosis_date death_date
0      10011773  1959-07-05     2015-04-02        NaN
1      10020495  1953-10-02     2017-12-04        NaN
2      10030299  1966-08-16     2019-06-27        NaN
3      10030824  1953-03-03     2018-09-07        NaN
4      10041592  1959-07-06     2018-11-19        NaN
...         ...         ...            ...        ...
10495  99966287  16/12/1978     02/08/2018        NaN
10496  99981192  10/04/1949     28/10/2017        NaN
10497  99988958  21/01/1966     27/05/2013        NaN
10498  99992350  04/09/1939     17/12/2018        NaN
10499  99994417  10/02/1962     01/04/2017        NaN

[10500 rows x 4 columns]

In [24]:
df_sql.to_csv('datos_sql.csv',)

In [21]:
df_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11167 entries, 0 to 11166
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ehr                      11167 non-null  int64
 1   n_tumor                  11167 non-null  int64
 2   t_category               11167 non-null  object
 3   n_category               11167 non-null  object
 4   m_category               11167 non-null  object
 5   t_category_after_neoadj  5677 non-null   object
 6   n_category_after_neoadj  5677 non-null   object
 7   m_category_after_neoadj  5627 non-null   object
 8   stage_diagnosis          11167 non-null  object
 9   stage_after_neo          6064 non-null   object
 10  grade                    11167 non-null  int64
 11  ductal                   6324 non-null   float64
 12  lobular                  1564 non-null   float64
 13  neoadjuvant              11167 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 1.2+ MB